# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath
out/

# Rust
native/target/

# Prebuilt native binaries
prebuild-resources/relauncher-natives/**/*.so
prebuild-resources/relauncher-natives/**/*.dylib
prebuild-resources/relauncher-natives/**/*.dll

# OS
.DS_Store
Thumbs.db

**/logs/*
**/.fabric/*
**.log
